@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: poppins,actor,adamina;
}

/* --------------------------------------------start navigation section ----------------------------------------- */
#navigate{
    display: inline;
}

.hero{
    /* height: 100vh;
    width: 100%; */
    background-image: url(../images/construction1.jpg);
    background-size: cover;
    height: 100%;
    opacity: 10% black;


}
.navb{
    padding-top: 0;
}
.navbar ul{
    display: flex;
    align-items: center;

    color: white;
    padding: 15;

}
.navb ul{
    display: inline;
    align-items: center;
    background-color: black;
    color: white;
    padding: 15;

}
.navbared ul{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 15;
}

.navbared li{
    list-style-type: none;
    padding: 1rem;
    padding-top: 50;

}
.navb li{
    margin-bottom: 10px;
    list-style-type: none;
    padding: 1rem;
    padding-top: 50;

}
.navbar li{
    list-style-type: none;
    padding: 1rem;
    padding-top: 50;

}


.navbar a{
    color: black;
    text-decoration: none  ;
}
.navb a{
    color: white;
    text-decoration: none  ;
}
.navbared a{
    color: white;
    text-decoration: none  ;
}
.nav-logo{
    content: '';
    flex: 0.95;
}
.navLog{
    content: '';
    flex: 0.8;
}
.navLogo{
    content: '';
    flex: 0.95;
}
.nav-color{
 border: solid #f66a1b;
 background-color: #f66a1b;
}

}
.nav-toggle{
    display: none;
}
.navToggle{
    display: none;
}

.headerText{
    
    width: 650;
    color: white;
    font-weight: 700;
    font-size: 40;
    padding-left: 100;

}
.differText{
    color: #f66a1b;
}

/* Page 2 About Us Section */
.mainAboutUs{
    background-color: rgb(238, 234, 234);
    height: 100vh;
    width: 100vw;
}
.barAboutUs{
    background-color: black;
    border-radius: 1rem;
    width: 100vw;
    height: 3rem;
}
.nav-about-us {
    margin-left: 50rem;
    padding: 12px;

}
.nav-about-us a{
    padding: 5rem;
    color: #f66a1b;
    font-weight: bold;
}
.nav-items-aboutUs a{
    text-decoration: none;
    justify-content: space-between;

}
.nav-items-aboutUs a{
    justify-content: space-between;

}

/* Section 2 */
.flexIt{
    display: flex;
    flex-direction: row;
}
.section2{
    background-color: #d8d6d6;
    height: 40rem;
    width:35rem;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 3rem;
}
.AboutUs{
    margin-left: 2rem;
}
.nav-aboutUs-links{
    color: #f66a1b;
}
.titleAboutUs{
    color: #f66a1b;
}

/* section 3 */
.OurTeam{
margin-left: 20rem;
margin-top: 0rem;
color: #f66a1b;

}
.peopleAboutUs{
    border-radius: 6rem;
    margin-left: 4rem;
}
.aboutUsImages{
    display: flex;
    flex-direction: row;
}
.styleAboutImages{
    margin-left: 3rem;
    background-color: #f66a1b;
    padding: 0.5rem;
    border-radius: 1rem;
}
.section3background{

    background-color: rgb(12, 2, 2);
}

  .vl{
      border: dashed #f66a1b;
      margin-left: 2rem;
      height: 10rem;
      width: 40rem;
      align-items: center;
  }  
  h4{
      color: white;
      size: 3rem;
      margin-left: 0.9rem;
  }
  .icons{
      color: white;
  }
  .spanAbout{
      margin-left: 0.9rem;
  }