body{
    margin: 0;
    padding: 0;
    
}

.jobmaster{
    display: flex;
    
}

.jobber{

    background-color: orange;
    width: 540;

}
.jobberleft{
    width: 100%;
    background-color: rgb(216, 206, 206);
    flex-direction: column;
}


.wrap{
    /* display: inline; */
    width: 1000px;
    justify-content: space-between;
    margin: auto;
    margin-top: 100px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    width: 300px;
    background-color: #fff;
    float: left;
    margin: 10px;
    border-radius: 15px;
    background-size: cover;
}

.cont .icons a i{
    padding: 3;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}
/* .mastercard{
    display: block;
} */
.all{
    display: flex;
}
.all .range{
    /* background-color: red; */
    display: flex;
    align-items: center;
}
.range input{
    width: 90px;
    height: 40;
    text-align: center;
    outline: none;
    border: 1px solid darkgray;
    -moz-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.all .separator{
    background: red;
    width: 20px;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    display: flex;
}
/* 

.slider{
    position: relative;
    height: 5px;
    background: gray;
    border-radius: 5px;
    
}
.slider .progress{
    position: absolute;
    width: 100;
    left: 50px;
    right: 25px;
    height: 5px;
    background: red;
    border-radius: 5px;
}

.rangerInput{
    position: relative;
}
.rangerInput input{
    position: absolute;
    top: -10;
    background: none;
    width: 50%;
    -webkit-appearance: none;

}
input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: ;
    pointer-events: auto;
     -webkit-appearance: none; 
    background: blue;


}
input[type="range"]::-moz-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: ;
    pointer-events: auto;
    /* -webkit-appearance: none; 
    background: blue

}


 */
