@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
body{
    margin: 0;
    padding: 0;
    font-family: poppins;
}


.hero{
    height: 100%;
    width: 100%;
    background-size: cover;
    opacity: 10% black;
    background-repeat: none;
    background-image: url("../images/crane.jpg");
}
.navb{
    padding-top: 0;
}
.navbar ul{
    display: flex;
    align-items: center;
    /* background-color: black; */
    color: white;
    padding: 15;

}
.navb ul{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 15;

}
.navbar ul li a{
    font-size: 20;
    font-weight: 700;
    color: orange;
}
.navbared ul{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 15;
}

.navbared li{
    list-style-type: none;
    padding: 1rem;
    padding-top: 50;
    

}
.navb li{
    margin-bottom: 10px;
    list-style-type: none;
    padding: 1rem;
    padding-top: 50;


}
.navbar li{
    list-style-type: none;
    padding: 1rem;
    padding-top: 50;

}

.navbar a{
    color: white;
    text-decoration: none  ;
}
.navb a{
    color: white;
    text-decoration: none  ;
}
.navbared a{
    color: white;
    text-decoration: none  ;
}
.nav-logo{
    content: '';
    flex: 0.95;
}
.navLog{
    content: '';
    flex: 0.8;
}
.navLogo{
    content: '';
    flex: 0.95;
}
.nav-toggle{
    display: none;
}
.navToggle{
    display: none;
}

.jobmaster{
    display: flex;
    margin-top: 890;
    
}

.jobber{

    /* background-color: orange; */
    width: 540;
    padding-left: 120px;
    padding-top: 120px;

}
.categ h3{
    font-size: 24;
}
.loc h3{
    font-size: 24;
}
.categ li{
    list-style: none;
    font-size: 20;
    padding-left: 19px;
}
.loc li{
    list-style: none;
    font-size: 20;
    padding-left: 19px;
}

.categ li a{
    text-decoration: none;
    color: black;
}

.jobber h4 span{
    color: orange;
}
.loc li a{
    text-decoration: none;
    color: black;
}
.retro{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 12px;
}

.price {
    padding-top: 20;
}

.jobberleft{
    width: 100%;
    /* background-color: rgb(216, 206, 206); */
    flex-direction: column;
}
.cont h3{
    padding-left: 20px;
}
.cont span{
    padding-left: 150;
}
.icons p{
    padding-left: 10px;
}

.top{
    padding-left: 150;
    font-size: 25;
    font-weight: 800;
}
.top span{
    color: orange;
}


.wrap{
    /* display: inline; */
    width: 1000px;
    justify-content: space-between;
    margin: auto;
    margin-top: 100px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    width: 300px;
    background-color: #fff;
    float: left;
    margin: 10px;
    border-radius: 15px;
    background-size: cover;
}

.cont .icons a i{
    padding: 3;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}
/* .mastercard{
    display: block;
} */
.all{
    display: flex;
}
.all .range{
    /* background-color: red; */
    display: flex;
    align-items: center;
}
.range input{
    width: 90px;
    height: 40;
    text-align: center;
    outline: none;
    border: 1px solid darkgray;
    -moz-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.all .separator{
    /* background: red; */
    width: 20px;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    display: flex;
}

.carosusel{
    position: relative;


}

.selItem{
    height: 300px;
    background: gray;
    padding: 1em;

}

.carolNav{
    width: 100%;
    padding: 20px 0;
    position: absolute;
    /* bottom: 0;
    left: 0;
    background-color: orange;
    text-align: center; */
}
.carolbtn{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background: black;
    margin-bottom: 120px;

}
.carolbtn carolbtn-selected{
    background: rgba(255,255,255, 0.2);
}


.selItem selItem-selected{
    display: block;
    background: rgba(255,255,255, 0.2);
}


/* 

.slider{
    position: relative;
    height: 5px;
    background: gray;
    border-radius: 5px;
    
}
.slider .progress{
    position: absolute;
    width: 100;
    left: 50px;
    right: 25px;
    height: 5px;
    background: red;
    border-radius: 5px;
}

.rangerInput{
    position: relative;
}
.rangerInput input{
    position: absolute;
    top: -10;
    background: none;
    width: 50%;
    -webkit-appearance: none;

}
input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: ;
    pointer-events: auto;
     -webkit-appearance: none; 
    background: blue;


}
input[type="range"]::-moz-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: ;
    pointer-events: auto;
    /* -webkit-appearance: none; 
    background: blue

}


 */

 #foot{
    padding: 90;
    margin-top: 110;
    background-color: black;
}


/* ul {
    list-style: none;
} */
.footText{
    color: white;
    font-size: 50;
}
.row{
    display: flex;
    flex-wrap: wrap;;
    padding-left: 920;
    color: white;
}
.footerCol ul li a{
    text-decoration: none;
}
.footerCol ul li{
    list-style: none;
}
.footerCol li a{
    font-size: 20px;
    color: white;
}
.footerCol h4{
    float: right;
    padding-left: 30;
}
.footerCol{
    text-align: center;
}


.socialIcons a{
    height: 180;
    padding: 10;
    color: white;
}



