* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

.body-wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;

}

.container-wrapper {
    background-color: rgba(100, 112, 120, 0.6);
    padding: 50px 30px;
    min-width: 800px;
    width: 50%;
    max-width: 800px;
    min-height: 500px;
}

.login-heading {
    color: #F66A1B;
    font-family: 'Quicksand';
    font-size: 4.5rem;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    font-weight: 700;
}

.input-wrapper, .signIn-button {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 8%;
}

.input-wrapper label {
    color: #fff;
    font-weight: lighter;
    font-size: 1.5em;
     margin-bottom: 7px;
}

::placeholder{
    color: black;
    padding: 10px;
    margin: 0 20px;
}

.input-wrapper input {
    font-size: 1em;
    padding: 0.5em 0.5em;
    background-color: white;
    border: 1px solid hsl(201, 100%, 6%);
    outline: none;
    border-radius: 10px;
    color: black;
    font-weight: lighter;
  }

  .signIn-button{
    padding: 10px 20px;
    width: 95%;
    border-radius: 10px;
    background: #F66A1B;
    border: 1px solid #F66A1B;
    font-size: 2em;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    align-items: center;
  }

  #errorMessage {
    color: #cc0033;
    font-weight: 500;
    display: inline-block;
    font-size: 1em;
    line-height: 15px;
    margin: 5px 0 0;
    padding: 10px;
    width: 80%;
  }