body{
    padding: 0;
    margin: 0;
    background-image: url("../images/has.jpg");
    background-size: cover;
    
}

.wrap{
    display: flex;
    flex-direction: column;
    width: 420px;


}


.container{
    display: flex;
    background: rgb(156, 147, 147);
    opacity: 75%;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;  

} 
.btn{
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
}

/* Below line is used for online Google font */
@import url(http://fonts.googleapis.com/css?family=Raleway);

.contain{

}

div.container{
width: 400px;
height: 350px;
margin:35px auto;
font-family: 'Raleway', sans-serif;
}

input[type=text],input[type=password]{
width: 100%;

height: 40px;
padding: 5px;
margin-bottom: 25px;
margin-top: 5px;
border: 2px solid #ccc;
color: #4f4f4f;
font-size: 16px;
border-radius: 5px;
}
